@import url('HeaderBaseIndexCentral.css');

h2{
    text-align: center;
    box-shadow: 2px 2px 4px black;
    text-shadow: 2px 2px 4px black;
    border:  2px solid black;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 35px;
    background-color: #6B3FA0;
    
}

section {
    text-shadow: 2px 2px 4px black;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

.CursosList {
    text-align: center;
}

.CursosList img {
    border-radius: 30px;
    height: 250px;
    width: 100%;
    object-fit: fill;
    margin-bottom: 10px;
    border: 5px solid #6B3FA0;
    box-shadow: 4px 4px black;
}



.CursosList h3 {
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 35px;
    background-color: #6B3FA0;
    margin: 10px 0;
    box-shadow: 2px 2px 4px black;
    border: 2px solid black;
}

.CursosList button {
    margin-bottom: 10px;
}

@media screen and (max-width: 950px){
    .CursosList {
        display: inline-block;
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
        vertical-align: top;
        text-align: center;
    }
    nav ul li {
        display:inline-flex;
        margin-right: 20px;
    }
}