@import url('index.css');

*{
    font-family: 'BW Seido Raw', sans-serif;
}

.menu_video {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; ;
    text-shadow: 1px 1px 1px black;
}


.imgtec{
    border-radius: 30px;
    border: 2px solid #6B3FA0;
    box-shadow: 4px 4px black;
    margin: 0 auto;
    height: 400px;
    width: 650px;
}

.botaovideo{
    width: 250px;
}

/* Estiliza a grid de botões */
.Botoes_grid {
    display: flex; /* Usa o flexbox para posicionar os itens lado a lado */
    gap: 10px;
    justify-content: center;
    margin: 20px; /* Adiciona uma margem ao redor da grid */
}

.sistemas, .conteinerbotao {
    margin: 0 10px; /* Adiciona uma margem horizontal entre os botões */
}

p {
    font-size: 36px;
    margin-left: 15%;
    margin-bottom: 5%;
    margin-right: 20%;
}