@import url('HeaderBase.css');

body{
    font-size: 28px;
}

header{
    font-size: 20px;
}
ul{
    list-style-type: none;
}

.menu {
    /* Defina display flex para alinhar os itens verticalmente */
    display: flex;
    /* Alinhe os itens verticalmente ao centro */
    align-items: center;
    /* Ajuste opcional para alinhar horizontalmente */
    justify-content: center; /* ou flex-start ou flex-end, dependendo do layout desejado */
}

.menu li {
    
    position: relative;
    border-right: 1px solid #041266;
}

.menu li a {
    text-shadow: 1px 1px 2px black;
    border: white;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

.menu li ul {
    position: absolute;
    left: 0;
    background-color: #001C54;
    display: none;
    font-size: 14px;
}

.menu li:hover ul,
.menu li.over ul {
    text-shadow: 1px 1px 2px black;
    margin: 0;
    padding: 0;
    display: block;
}

.menu li ul li {
    border: 1px solid white;
    margin-left: 0;
    display: block;
    width: 150px;
}

h2{
    text-align: center;
    box-shadow: 2px 2px 4px black;
    text-shadow: 2px 2px 4px black;
    border:  2px solid black;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 35px;
    background-color: #6B3FA0;
    
}
h3, p{
    text-shadow: 2px 2px 4px black;
    text-align: center;
    margin-bottom: 10px;
}

.videoTreinamento{
    display: block;
    margin: 0 auto;
    width: 780px;
    height: 440px;
    max-width: 1024px;
    max-height: 768px;
}

.botaovideo{
    border:  2px solid black;
    text-shadow: 1px 1px 2px black;
    padding: 5px 5px;
    background-color: #FF006F;
    color: #ffffff;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    display: block; /* Para o elemento ocupar a largura total */
    width: 200px; /* Defina um valor de largura adequado */
    margin: 15px auto;

}

.botaovideo:hover{
    transition: background, color 0.4s;
    background: black;
    color: white;
}
header h2{
    color:#EC0E73;
    padding-left: 20px;
}

p{
    padding: 15px;
}

@media screen and (max-width: 550px){
    ul{
        padding-left: 20px;
    }
}

