@import url("sidebar.css");

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("../img/Fundo1.png");
  background-color: #000c84;
}

.logo {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.video-section {
  flex: 3;
  margin-right: 20px;
}

.videoTreinamento {
  width: 100%;
  height: 601px;
  border-radius: 8px;
  box-shadow: 1px 2px 2px black;
}
.lessons-section {
  flex: 1;
  background: #ffffff;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 713px;
  overflow-y: auto;
}

.lessons-section h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-align: center;
}

.lesson {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.lesson:hover {
  background-color: #f0f0f0;
}

.lesson:last-child {
  border-bottom: none;
}

.lesson-title {
  font-weight: bold;
  color: #333;
}

.lesson-duration {
  font-size: 0.9rem;
  color: #666;
}

.menu_video {
  flex: 1;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 1px 2px 2px black;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#mensagemInicial {
  display: block;
}

.menu_video img {
  height: 60px;
}

.menu_buttons a {
  text-shadow: 1px 1px 1px black;
  border-radius: 8px;
  border: solid black 1px;
  color: white !important;
  display: flex;
  flex-direction: row wrap;
  gap: 10px;
}

.BtnMenu {
  background-color: #ec0e73;
  padding: 5px 25px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
  border: none;
}

@media screen and (max-width: 950px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .video-section {
    margin-right: 0;
  }

  .lesson-title {
    text-align: center;
    margin-bottom: 10px;
  }
}
